* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body::after {
    content: "";
    display: table;
    clear: both;
}

header {
    position: fixed;
    width: calc(100% - 250px);
    height:80px ;
    background-color: rgb(31, 31, 31);
    margin-left: 250px;
    opacity: 0.7;
    padding-right: 16px;
}

aside {
    float: left;
    width: 250px;
    height: calc(100vh - 80px);
    background-color: black;
    overflow-y: auto;
}

aside div{
    color: rgb(117, 116, 116);
}

.fas, .far{
    margin-right: 5px;
    color: rgb(117, 116, 116);
}

.upgrade {
    width: 180px;
    height: 40px;
    float: right;
    color: white;
    background-color:rgb(31, 31, 31) ;
    border-radius: 30px;
    border: 1px solid white;
    margin:20px 10px auto auto;
}
.upgrade:hover {
    cursor: pointer;
   width:200px ;
   height: 50px;
}

.img-logo {
    width: 50px;
}
.logo {
    display: flex;
    margin: 15px;
}
.testo-logo{
    margin: 20px 5px;
}

ul {
    list-style-type: none;

}

li {
    margin: 10px 15px; 
}

a {
    text-decoration: none;
    color: rgb(117, 116, 116);
}
a:hover {
    color: white;
}

.fa-home {
    padding-left: -10px;
    border-left: 2px solid yellowgreen;
}
.container{
    max-width: 150px;
    height: auto;
    margin: 15px 15px 0 0  ;
}

#playlist, #playlists-name {
    margin: 10px 15px;
}

.footer-aside {
    position:fixed;
    bottom: 80px;
    width: 230px;
    height: 50px;
    background-color: black;
    margin-left: 15px;
  /*   padding: 0 15px 5px 15px; */
}
hr {
    width: 200px;
    margin: 5px auto ;
    color: lightgray;
}

 main {
    float: left;
    width: calc(100% - 250px);
    height: calc(100vh - 80px);
    background-color: rgb(1, 0, 12);
    padding-top: 100px;
    overflow-y: auto;
}

.menu-main, .text{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#border-bottom{
    border-bottom: 2px solid yellowgreen;
    width:80px;
}

h2{
    color: white;
    margin: 20px 0 15px 15px;
}

.img-main{
    max-width: 150px;
   
}
.img-main:hover {
    background-color: grey ;
    opacity: 0.5;
}
.img-main.bottom {
     border-radius: 50%;
}

img:hover{
    cursor: pointer;
}

.main-top, .main-centrum, .main-bottom{
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
}


footer {
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgb(22, 22, 22);
}
.img-col-left {
    width: 50px;
    margin: auto 10px;
    
}
.col.left {
    display: flex;
    align-items: center;

}

.icone-col-left { 
    font-size: 18px;
    padding-left: 50px;
    color: white;
    /* da spostare più a destra */
}

.testo-grey {
    color: rgb(117, 116, 116);
}

.testo-grey.margin {
    margin-left: 15px;
}

.white-text {
color: WHITE;
}
.text{
    text-align: center;
}
.text.white-text{
    flex-wrap: wrap;
    text-align: center;
}
.col.centrum {
    margin: 5px, 10px;
    text-align: center;
}

.fa-random, .fa-fast-backward, .fa-fast-forward,
.fa-redo-alt, .fa-play-circle{
    font-size: 20px;
    margin: auto 5px;
    color: white;
}

.fa-heart, .fa-folder, .fa-random, 
.fa-fast-backward, .fa-fast-forward, .fa-redo-alt,
.fa-play-circle, .fa-list, .fa-desktop,
.fa-volume-up,  .barra, .barra-scorrimento :hover{

    cursor: pointer;
}

.fa-play-circle{
    font-size: 30px;
}

.barra-scorrimento {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.barra {
    width: 250px;
    height: 3px;
    background-color: rgb(224, 219, 219);
}

.minuti {
    color: white;
    margin: auto 5px;
}

.col.right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
    flex-wrap: wrap;
}

.barra.seconda {
    width: 100px;
}

.fa-list, .fa-desktop, 
.fa-volume-up {
    font-size: 18px;
    margin: auto 5px;
    color: white;
}

/* parte responsive */

